<html>
{% extends 'header_and_footer.html' %}
{% load static %}
{% static "images" as baseUrl %}
<body>
  {% block content %}
<div id="header"></div>

    <!-- overall design is from bootstrap -->
    <!-- the design is working, put the id and name attributes are not correct -->

  <div class="section volunteer-section">
      <div class="container">
          <div>
              <p class="para-text-1">Schedule a Darkness to Light Training for Your Organization</p>

              <form action = "" method="POST" class="volunteer-form">
                {% csrf_token %}
                  <div class="row">
                      <div class="col-6 left-padding-0">
                          <div class="form-group">
                              <input type="text" class="form-control input-box-shadow name-form-control" id="name" name="name" placeholder="Name" />
                          </div>
                      </div>
                      <div class="col-6 padding-right-0">
                          <div class="form-group">
                              <input type="text" class="form-control input-box-shadow email-form-control" id="organizationName" name="organizationName" placeholder="Organization Name" />
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control input-box-shadow" id="address" name="address" placeholder="Address" />
                  </div>
                  <div class="row">
                    <div class="col-6 left-padding-0">
                        <div class="form-group">
                            <input type="text" class="form-control input-box-shadow name-form-control" id="city" name="city" placeholder="City" />
                        </div>
                    </div>
                    <div class="col-6 padding-right-0">
                        <div class="form-group">
                            <input type="text" class="form-control input-box-shadow email-form-control" id="state" name="state" placeholder="State" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 left-padding-0">
                        <div class="form-group">
                            <input type="text" class="form-control input-box-shadow name-form-control" id="zipcode" name="zipcode" placeholder="Zip" />
                        </div>
                    </div>
                    <div class="col-6 padding-right-0">
                        <div class="form-group">
                            <input type="tel" class="form-control input-box-shadow email-form-control" id="number" name="number" placeholder="Telephone Number" />
                        </div>
                    </div>
                </div>
                  <div class="form-group">
                      <textarea class="form-control input-box-shadow event-textarea" name = "aboutEvent" id="aboutEvent" rows="3" placeholder="Date and Time You Would Like to Schedule the Training"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary volunteer-btn">Submit Request</button>
              </form>
          </div>
      </div>
  </div>

{% endblock %}
</body>
</html>
