<html>
{% extends 'header_and_footer.html' %}

{% load static %}
{% static "images" as baseUrl %}
<body>
<div id="header"></div>

  <body>
    {% block content %}
      <!-- cac staff backgroun image -->
        <div class = "pImg">
              <div class = "pText">
                <span class = "border">
                    CAC Staff
                </span>
            </div>
        </div>

        <!-- cac staff, contains two pictures (one young one older), name, job title and an icon that links to their email -->
        <section class = "section-light">
            <div class="card-wrapper">
                <div class="ot-card">
                    <img src="Staff Pictures/Elizabeth Benton 2.jpg" class="profile-img-front" onmousemove="this.src='Staff Pictures/Elizabeth Benton 1.jpg'" onmouseout="this.src='Staff Pictures/Elizabeth Benton 2.jpg'">
                    <h2>Elizabeth Benton</h2>
                    <p class="job-title">Forensic Interviewer</p>
                    <p><a href="mailto: ebenton@cacrutherford.org"><i class="fas fa-envelope fa-3x"></i></a></p>
                </div>
                <div class="ot-card">
                    <img src="Staff Pictures/Anahi Castillo 2.jpg" class="profile-img-front" onmousemove="this.src='Staff Pictures/Anahi Castillo 1.jpg'" onmouseout="this.src='Staff Pictures/Anahi Castillo 2.jpg'">
                    <h2>Anahi Castillo</h2>
                    <p class="job-title">Bilingual Services Coordinator</p>
                    <p><a href="mailto: acastillo@cacrutherford.org"><i class="fas fa-envelope fa-3x"></i></a></p>
                </div>
                <div class="ot-card">
                    <img src="Staff Pictures/Tara Davis - 2.jpg" class="profile-img-front" onmousemove="this.src='Staff Pictures/Tara Davis - 1.jpg'" onmouseout="this.src='Staff Pictures/Tara Davis - 2.jpg'">
                    <h2>Tara Davis </h2>
                    <p class="job-title">Drug Endangered Children Coordinator</p>
                    <p><a href="mailto: tdavis@cacrutherford.org"><i class="fas fa-envelope fa-3x"></i></a></p>
                </div>
                <div class="ot-card">
                    <img src="Staff Pictures/Sharon De Boer - 2.jpg" class="profile-img-front" onmousemove="this.src='Staff Pictures/Sharon De Boer - 1.jpg'" onmouseout="this.src='Staff Pictures/Sharon De Boer - 2.jpg'">
                    <h2>Sharon De Boer</h2>
                    <p class="job-title">Executive Director</p>
                    <p><a href="mailto: shardeboer@aol.com"><i class="fas fa-envelope fa-3x"></i></a></p>
                </div>
                <div class="ot-card">
                    <img src="Staff Pictures/Tatum England - 2.jpg" class="profile-img-front" onmousemove="this.src='Staff Pictures/Tatum England - 1.jpg'" onmouseout="this.src='Staff Pictures/Tatum England - 2.jpg'">
                    <h2>Tatum England</h2>
                    <p class="job-title">Community Education Coordinator</p>
                    <p><a href="mailto: tengland@cacrutherford.org"><i class="fas fa-envelope fa-3x"></i></a></p>
                </div>
                <div class="ot-card">
                    <img src="Staff Pictures/Katie Enzor - 2.jpg" class="profile-img-front" onmousemove="this.src='Staff Pictures/Katie Enzor - 1.jpg'" onmouseout="this.src='Staff Pictures/Katie Enzor - 2.jpg'">
                    <h2>Katie Enzor</h2>
                    <p class="job-title">Development Coordinator</p>
                    <p><a href="mailto: kenzor@cacrutherford.org"><i class="fas fa-envelope fa-3x"></i></a></p>
                </div>
                <div class="ot-card">
                    <img src="Staff Pictures/Jennifer Gamble - 2.jpg" class="profile-img-front" onmousemove="this.src='Staff Pictures/Jennifer Gamble - 1.jpg'" onmouseout="this.src='Staff Pictures/Jennifer Gamble - 2.jpg'">
                    <h2>Jennifer Gamble</h2>
                    <p class="job-title">Family Services Coordinator</p>
                    <p><a href="mailto: jgamble@cacrutherford.org"><i class="fas fa-envelope fa-3x"></i></a></p>
                </div>
                <div class="ot-card">
                    <img src="Staff Pictures/Amanda Hammond - 2.jpg" class="profile-img-front" onmousemove="this.src='Staff Pictures/Amanda Hammond - 1.jpg'" onmouseout="this.src='Staff Pictures/Amanda Hammond - 2.jpg'">
                    <h2>Amanda Hammond</h2>
                    <p class="job-title">Cannon County Coordinator</p>
                    <p><a href="mailto: ahammond@cannoncac.org"><i class="fas fa-envelope fa-3x"></i></a></p>
                </div>
                <div class="ot-card">
                    <img src="Staff Pictures/Amanda Pruitt - 2.jpg" class="profile-img-front" onmousemove="this.src='Staff Pictures/Amanda Pruitt - 1.jpg'" onmouseout="this.src='Staff Pictures/Amanda Pruitt - 2.jpg'">
                    <h2>Amanda Pruitt</h2>
                    <p class="job-title">Forensic Interview Coordinator</p>
                    <p><a href="mailto: apruitt@cacrutherford.org"><i class="fas fa-envelope fa-3x"></i></a></p>
                </div>
                <div class="ot-card">
                    <img src="Staff Pictures/Jessica Wauchek - 2.jpg" class="profile-img-front" onmousemove="this.src='Staff Pictures/Jessica Wauchek - 1.jpg'" onmouseout="this.src='Staff Pictures/Jessica Wauchek - 2.jpg'">
                    <h2>Jessica Wauchek</h2>
                    <p class="job-title">Accountant</p>
                    <p><a href="mailto: jwauchek@cacrutherford.org"><i class="fas fa-envelope fa-3x"></i></a></p>
                </div>

            </div>

        </section>

        <!-- background image for both committee and board -->
        <div class = "pImg1">
            <div class = "pText1">
                <span class = "border1">
                    Executive Committee
                </span>
            </div>
        </div>

        <!-- each section has member name and job title -->
        <div class="card-group">
            <div class="card ot-flex-item" style="text-align: center;">
                <div class="card-body">
                    <h4 class="card-title">Jennings H. Jones</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Board of Directors President</h6>
                    <h6 class="card-subtitle mb-2 text-muted">District Attorney General</h6>
                </div>
            </div>

            <div class="card ot-flex-item" style="text-align: center;">
                <div class="card-body ot-flex-item">
                    <h4 class="card-title">Terry A. Fann</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Vice President</h6>
                </div>
            </div>

            <div class="card ot-flex-item" style="text-align: center;">
                <div class="card-body ot-flex-item">
                    <h4 class="card-title">Tammy Greer, CPA</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Treasurer</h6>
                </div>
            </div>

            <div class="card ot-flex-item" style="text-align: center;">
                <div class="card-body ot-flex-item">
                    <h4 class="card-title">Catherine M. Post</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Secretary</h6>
                </div>
            </div>

            <div class="card ot-flex-item" style="text-align: center;">
                <div class="card-body ot-flex-item">
                    <h4 class="card-title">Elizabeth Renegar Parker</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Nominating Committee Chair person</h6>
                </div>
            </div>

            <div class="card ot-flex-item" style="text-align: center;">
                <div class="card-body ot-flex-item">
                    <h4 class="card-title">Tracy D. Sheppard</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Fundraising Committee Chair</h6>
                </div>
            </div>
        </div>

        <div class = "pImg1">
            <div class = "pText1">
                <span class = "border1">
                    Board Members
                </span>
            </div>
        </div>

        <div class="card-group">
            <div class="card ot-flex-item" style="width: 18rem; text-align: center;">
                <div class="card-body">
                    <h4 class="card-title">Taminko Amuzu</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Department of Children’s Services</h6>
                </div>
            </div>

            <div class="card ot-flex-item" style="width: 18rem; text-align: center;">
                <div class="card-body">
                    <h4 class="card-title">Chief Kevin Arnold</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Smyrna Police Department</h6>
                </div>
            </div>

            <div class="card ot-flex-item" style="width: 18rem; text-align: center;">
                <div class="card-body">
                    <h4 class="card-title">Chief Michael Bowen</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Murfreesboro Police Department</h6>
                </div>
            </div>

            <div class="card ot-flex-item" style="width: 18rem; text-align: center;">
                <div class="card-body">
                    <h4 class="card-title">Dr. Tammy Garrett</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Murfreesboro City Schools</h6>
                </div>
            </div>

            <div class="card ot-flex-item" style="width: 18rem; text-align: center;">
                <div class="card-body">
                    <h4 class="card-title">Aurelia Holden</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Charity Circle Representative</h6>
                </div>
            </div>

            <div class="card ot-flex-item" style="width: 18rem; text-align: center;">
                <div class="card-body">
                    <h4 class="card-title">Emily Hutchinson</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Junior League Representative</h6>
                </div>
            </div>

            <div class="card ot-flex-item" style="width: 18rem; text-align: center;">
                <div class="card-body">
                    <h4 class="card-title">Katie Jordan</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Charity Circle Representative</h6>
                </div>
            </div>

            <div class="card ot-flex-item" style="width: 18rem; text-align: center;">
                <div class="card-body">
                    <h4 class="card-title">Deirdre C. Lackey</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Tennessee Office of Child Welfare Reform</h6>
                </div>
            </div>

            <div class="card ot-flex-item" style="width: 18rem; text-align: center;">
                <div class="card-body">
                    <h4 class="card-title">Betsy Murfree</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Junior League Representative</h6>
                </div>
            </div>

            <div class="card ot-flex-item" style="width: 18rem; text-align: center;">
                <div class="card-body">
                    <h4 class="card-title">William C. Whitesell, Jr.</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Retired District Attorney General</h6>
                </div>
            </div>
        </div>
    </body>

    {% endblock %}
    </body>
    </html>
