{% extends 'header_and_footer.html' %}
{% load static %}
{% static "images" as baseUrl %}

<html>
<body>
  {% block content %}
  <div id="header"></div>
    <div class = "RCImg">
      <h1>Rutherford County</h1>
      </div>
          <h1 id="services-header"> Services </h1>

            
        {% for blk in rutherfordservices %}
            {% if forloop.counter|divisibleby:"2" %}
          <div class = "service-block">
            <div class = "block-item">
              <img src = "{{blk.image.url}}" width= "440ppx" height="330ppx">
              </div>
              <div class = "block-item">
                <h1>{{blk.title}}</h1>
                <p>
                  {{blk.description|linebreaks}}
                </p>
             </div>
          </div>

                {% else %}

                  <div class="service-block">
                    <div class="block-item">
                      <h1>{{blk.title}}</h1>
                      <p>
                       {{blk.description|linebreaks}}
                      </p>
                    </div>
                    <div class="block-item">
                      <img src = "{{blk.image.url}}" width = "440ppx" height = "330ppx">
                    </div>
                  </div>

                    {% endif %}
        {% endfor %}
<!--

          <h1 id="services-header"> Services </h1> -->
          <!-- format is picture to the right, text to the left and then it switches sides for each section-->
       <!--   <div class="service-block">
            <div class="block-item">
                <h1>Forensic Interview</h1>
                <p>Forensic interviews are provided in a safe, child friendly location where children suspected of being victims of abuse are interviewed in connection with the crime.
                <p>The forensic interview is a structured unbiased fact finding conversation with a child intended to elicit detailed information about a possible event or events that the child may have experienced or witnessed.</p>
                
                <p>Department of Children’s Services and law enforcement receive all child abuse reports. They request that the Child Advocacy Center conducts a forensic interview. The child may have been the victim of child physical abuse, child sexual abuse, exposed to their parents drug use, or they may have witnessed a violent crime, such as domestic violence or homicide.</p>
                
                <p>Sometimes a child may require an extended forensic interview. The extended forensic interview is a multi-session structured interview. Some children may need more than one session and up to four sessions to talk about allegations of abuse. An extended forensic interview is utilized for children with special developmental considerations or children who are particularly anxious or frightened.
                    The Child Advocacy Center has two forensic interviewers and two back-up forensic interviewers that interview Rutherford and Cannon County child victims. All of the forensic interviewers have received extensive specialized training to respond to child abuse, child sexual abuse, drug endangered children, and child witnesses to violence crime cases. The forensic interviewers participate in professional trainings and quarterly peer review to continually improve their skills. The team triages emergency child abuse cases, prioritizes cases, and responds to child victims who are in eminent danger.</p>
            </div> -->

            <!-- separate box that contains bullet points, used to make design more cohesive-->
     <!--       <div class="vertical-service-block"> -->
                <!-- image used to the right of the text, all images are from copyright free websites -->
      <!--          <div class="block-item forensic-services-image-item">
                    <img src="{% static 'images/forensic-services-image.jpg' %}" width="440px">
                </div>
                <div class="block-item forensic-services-list-item">
                    <h3>The purposes of a forensic interview are:</h3>
                    <ul>
                        <li>To assess the child’s immediate safety</li>
                    
                        <li>To assess the child’s need for medical treatment</li>
                    
                        <li>To obtain information from a child that may be helpful in a criminal investigation</li>
                    
                        <li>To obtain information that will either corroborate or refute allegations or suspicions of abuse and neglect.</li> 
                    </ul>
                </div>
            </div>




          </div>


          <div class="service-block">
              <div class="block-item">
                  <img src="{% static 'images/family-services-image.jpg' %}" width="440px">
              </div>
              <div class="block-item">
                  <h1>Family Services</h1>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur, vel mollitia. Neque quod alias expedita nam deleniti earum dolorum beatae voluptatem, vitae corporis laudantium natus, repellat ex dicta eum ullam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, recusandae? Quia, praesentium molestias repellat, optio rerum magni iure minus debitis aperiam accusamus ab quam iste, corporis ullam harum unde quis!</p>
              </div>
          </div>
          <div class="service-block">
              <div class="block-item">
                  <h1>Drug Endangered Children Program</h1>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur, vel mollitia. Neque quod alias expedita nam deleniti earum dolorum beatae voluptatem, vitae corporis laudantium natus, repellat ex dicta eum ullam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, recusandae? Quia, praesentium molestias repellat, optio rerum magni iure minus debitis aperiam accusamus ab quam iste, corporis ullam harum unde quis!</p>
              </div>
              <div class="block-item">
                  <img src="{% static 'images/drug-endangered-children-program-image.jpg' %}" width="440px" height="300px">
              </div>
          </div>
          <div class="service-block">
              <div class="block-item">
                  <img src="{% static 'images/bilingual-services-image.jpg' %}" width="440px">
              </div>
              <div class="block-item">
                  <h1>Bilingual Services</h1>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur, vel mollitia. Neque quod alias expedita nam deleniti earum dolorum beatae voluptatem, vitae corporis laudantium natus, repellat ex dicta eum ullam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, recusandae? Quia, praesentium molestias repellat, optio rerum magni iure minus debitis aperiam accusamus ab quam iste, corporis ullam harum unde quis!</p>
              </div>
          </div> -->


{% endblock %}
</body>
</html>
