<html>
{% extends 'header_and_footer.html' %}

{% load static %}
{% static "images" as baseUrl %}
<body>
  {% block content %}
<div id="header"></div>

<h1 class="cpit-header">Rutherford County Child Protective Investigative Team</h1>

<!-- Each column contains a card and within that card is the name, picture, address, number, logo and a contact button for every CPIT team member -->

<div class="row">
  <div class="column">
    <div class="card">
      <img src="{% static 'images/CAC Buliding.PNG' %}" alt="Jane" style="width:100%">
      <div class="container">
        <h3>Child Advocacy Center of Rutherford County, Inc.</h3>
        <p>1040 Samsonite Blvd.<br>
          Murfreesboro, TN 37129</p>
          <br>
        <p>(615) 867-9000</p>
        <!-- some logos have special stylization to accomodate for shape. 
          i.e. this logo needs to be longer than the police department/sherrif's office logos -->
        <img src="{% static 'images/CAC Logo.jpg' %}" style="height:100px;display:block;margin:auto;margin-bottom: 20px">
        <p><button class="cpit-button" onclick="window.location.href='https://www.cacrutherford.org';">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'images/DCS Building.PNG' %}" alt="Jane" style="width:100%">
      <div class="container">
        <h3>Department of Children Services</h3>
        <p>Rutherford County
          <br>
          434 Jayhawk Court
          <br>
          Murfreesboro, TN 37128</p>
        <p>(615) 217-8900</p>
        <img src="{% static 'images/DCS Logo.png' %}" style="height:60px;display:block;margin:auto;margin-bottom: 20px">
        <p><button class="cpit-button" onclick="window.location.href='https://www.tn.gov/dcs.html';">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'images/DA Building.PNG' %}" alt="Jane" style="width:100%">
      <div class="container">
        <h3>District Attorney’s Office for the 16th Judicial District</h3>
        <p>320 West Main Street, Suite 100 <br>
          Murfreesboro, TN 37130 </p>
          <br>
        <p>(615) 898-8008</p>
        <img src="{% static 'images/DA Logo.png' %}" style="height:90px;display:block;margin:auto;background-color:black;padding:10px;margin-bottom: 20px">
        <p><button class="cpit-button" onclick="window.location.href='https://www.tndagc.org/district/16';">Contact</button></p>
      </div>
    </div>
  </div>



  <div class="column">
    <div class="card">
      <img src="{% static 'images/Volunteer Health BUilding.jpg' %}" alt="Jane" style="width:100%">
      <div class="container">
        <h3>Guidance Center</h3>
        <br>
        <p>2126 North Thompson Lane <br>
          Murfreesboro, TN 37129</p>
          <br>
        <p>(615) 898-0771</p>
        <img src="{% static 'images/Volunteer Health Logo.png' %}" style="height:70px;display:block;margin:auto;margin-bottom: 20px">
        <p><button class="cpit-button" onclick="window.location.href='https://www.vbhcs.org/locations/murfreesboro/';">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'images/LPD Building.jpg' %}" alt="Jane" style="width:100%">
      <div class="container">
        <h3>La Vergne Police Department</h3>
        <div class="cpit-flex">
          <div class="cpit-flex-item">
            <p>5093 Murfreesboro Rd. <br>
              La Vergne, TN 37086</p>
              <br>
            <p>(615) 793-7744</p>
          </div>
          <div class="cpit-flex-item">
            <img src="{% static 'images/LPD Logo.png' %}" style="height:130px;display:block;margin:auto;margin-bottom: 20px">
          </div>
        </div>
        <p><button class="cpit-button" onclick="window.location.href='https://www.lavergnetn.gov/208/Police-Department';">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'images/MPD Building.jpg' %}" alt="Jane" style="width:100%">
      <div class="container">
        <h3>Murfreesboro Police Department</h3>
        <div class="cpit-flex">
          <div class="cpit-flex-item">
            <p>1004 N. Highland Avenue <br>
              Murfreesboro, TN 37130</p>
              <br>
            <p>(615) 849-2673</p>
          </div>
          <div class="cpit-flex-item">
            <img src="{% static 'images/MPD Logo.jpg' %}" style="height:120px;display:block;margin:auto;margin-bottom: 20px">
          </div>
        </div>
        <p><button class="cpit-button" onclick="window.location.href='https://www.murfreesborotn.gov/1781/Police';">Contact</button></p>
      </div>
    </div>
  </div>



  <div class="column">
    <div class="card">
      <img src="{% static 'images/Our Kids Building.jpg' %}" alt="Jane" style="width:100%">
      <div class="container">
        <h3>Our Kids Center</h3>
        <p>804 Hayes Street <br>
          Nashville, TN 37203</p>
          <br>
        <p>(615) 341-4911</p>
        <img src="{% static 'images/Our Kids logo.jpg' %}" style="height:70px;display:block;margin:auto;margin-bottom: 20px">
        <p><button class="cpit-button" onclick="window.location.href='https://ourkidscenter.com/';">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'images/Sheriff Office Building.jpg' %}" alt="Jane" style="width:100%">
      <div class="container">
        <h3>Rutherford County Sheriff’s Office</h3>

        <div class="cpit-flex">
          <div class="cpit-flex-item">
            <p>940 New Salem Road <br>
              Murfreesboro, TN 37129</p>
              <br>
            <p>(615) 898-7774</p>
          </div>
          <div class="cpit-flex-item">
            <img src="{% static 'images/Sheriff Office Logo.png' %}" style="height:120px;display:block;margin:auto;margin-bottom: 20px">
          </div>
        </div>

        <p><button class="cpit-button" onclick="window.location.href='http://www.rcsotn.com/';">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'images/SPD Building.jpg' %}" alt="Jane" style="width:100%">
      <div class="container">
        <h3>Smyrna Police Department</h3>

        <div class="cpit-flex">
          <div class="cpit-flex-item">
            <p>400 Enon Springs Rd. E. <br>
              Smyrna, TN 37167</p>
              <br>
            <p>(615) 459-6644</p>
          </div>
          <div class="cpit-flex-item">
            <img src="{% static 'images/SPD Logo.jpg' %}" style="height:120px;display:block;margin:auto;margin-bottom: 20px">
          </div>
        </div>

        <p><button class="cpit-button" onclick="window.location.href='https://www.townofsmyrna.org/departments/police';">Contact</button></p>
      </div>
    </div>
  </div>




  <div class="column">
    <div class="card">
      <img src="{%static 'images/Youth Services Building.jpg' %}" alt="Jane" style="width:100%">
      <div class="container">
        <h3>Youth Services</h3>

        <div class="cpit-flex">
          <div class="cpit-flex-item">
            <p>1710 South Church Street, Suite 3 <br>
              Murfreesboro, TN 37130</p>
              <br>
            <p>(615) 898-7850</p>
          </div>
          <div class="cpit-flex-item">
            <img src="{% static 'images/Youth Services Logo.png' %}" style="height:120px;display:block;margin:auto;margin-bottom: 20px">
          </div>
        </div>

        <p><button class="cpit-button" onclick="window.location.href='http://rutherfordcountytn.gov/departments/youth-services';">Contact</button></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
</body>
</html>
